
.page {
  font-family: Montserrat, sans-serif;
  visibility: hidden;

  h1 {
    font-size: 4.5rem;
    text-align: center;
    font-weight: 600;
    margin: 10rem auto;
    width: 60rem;

    span {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


    .blue {
      color: cornflowerblue;
      display: block;
    }
  }

  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }
}