.ipad {
  position: relative;
  height: 43.2rem;
  width: 32.2rem;
}

.frame {
  position: absolute;
  z-index: 10;
}

.shadow {
  position: absolute;
}

.image {
  position: absolute;
  left: 2rem;
  top: 2rem;
}