
.page {
  background-color: black;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: #cbcbcb;
  visibility: hidden;

  header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    h1 {
      font-size: 5rem;
      color: white;
      width: 65rem;
      text-align: center;
      font-family: 'Noto Sans', sans-serif;
      line-height: 1.3;

      span {
        color: #ffc400;
      }
    }

    h5 {
      font-size: 2rem;
      font-weight: 400;
      width: 45rem;
      text-align: center;
    }
  }
}

.content {
  height: 100vh;


  h2 {
    font-size: 4rem;
    color: white;
    text-align: center;
    font-weight: 500;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 1rem;
  }

  h6 {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
  }

  .cards {
    max-width: 110rem;
    margin: 8rem auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }
}