.ipad {
  position: relative;
  width: 43.3rem;
  height: 32.2rem;
}

.frame {
  position: absolute;
  z-index: 10;
}

.shadow {
  position: absolute;
}

.image {
  position: absolute;
  left: 2rem;
  top: 1.9rem;
}