.button {
  background-color: #ffc400;
  border: none;
  padding: 1.3rem 3rem;
  border-radius: 100px;
  color: black;
  font-size: 1.5rem;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #dca900;
  }

}

.small {
  padding: 0.9rem 2.5rem;
}