.page {
  background-color: black;
  min-height: 100vh;
  font-family: 'SF Pro Display', sans-serif;
  color: white;


  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    h2 {
      color: white;
      font-size: 2.5rem;
      font-weight: 500;
    }
  }
}

.container {
  max-width: 105rem;
  margin: 0 auto;
}

.bigText {
  font-size: 5.8rem;
  font-weight: 600;
  padding-top: 30rem;
  padding-bottom: 15rem;
}

.phoneImage {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}


.textPhoneContainer {
  display: grid;
  grid-template-columns: 55% 1fr;
  grid-gap: 2rem;
  margin-top: 40rem;

  div {
    height: min-content;

    p {
      font-size: 6rem;
      font-weight: 600;
    }

    .textPhoneButtons {
      margin-top: 3rem;
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }

  .featuredContainer {
    display: flex;
    align-items: center;
    color: #FFFFFF40;
    transition: all 0.2s ease-out;


    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: margin 0.2s ease-in-out;
      margin: 0 -5px;


      span {
        font-size: 1.2rem;
      }

      p {
        font-size: 2rem;
        font-weight: 400;
      }

    }

    img {
      height: 4rem;
      width: auto;
    }

    &:hover {
      color: white;

      div {
        margin: 0 -2px;
      }
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}


.textPhoneContainerLeft {
  grid-template-columns: 1fr 55%;
  grid-gap: 4rem;
}

.track {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;

  div {

    p {
      font-size: 5rem;
      font-weight: 500;
      margin-bottom: 3rem;
    }
  }

  .trackPhone {
    width: 45rem;
    height: auto;
    transform: rotate(90deg) translateY(300px);
    position: relative;
    z-index: 5;
  }

  .cards {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: none;

    img {
      width: 10rem;
      height: auto;
      position: absolute;
    }
  }

}

.smallerP {
  font-size: 5rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

.veryBigP {
  font-size: 8rem;
  font-weight: 700;
  width: 75rem;
  color: rgba(white, 0.2);

  span {
    color: white;
  }
}

.animatedP {
  color: rgba(white, 0.2);
  font-size: 5.5rem;
  font-weight: 600;
  margin: 5rem 0;
  transition: color 0.3s;

  .active {
    color: white;
  }
}
